    /* Estilos para la tabla y sus celdas */
    table, th, td {
      border: 1px solid rgb(0, 0, 0); /* Define una línea sólida de 1px de color negro */
      border-collapse: collapse; /* Une los bordes dobles en una sola línea */
    }

    /* Opcional: Añade un poco de espacio interno para que no se vea amontonado */
    th, td {
      padding: 100px;
      text-align: left;
    }

    th{
        width: 60px;
        height: 60px;
        background-color: red;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: sans-serif;
    }
    
    td{
        width: 60px;
        height: 60px;
        background-color: red;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: sans-serif;
    }
