body {
    font-family: Arial, sans-serif;
    background-color: #0db7ed;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    font-size:  2.5rem;
}